body {
  background-image: url(../img/background.png);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

@font-face {
  font-weight: 400;
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-weight: 500;
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-weight: 700;
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.ttf);
}

.container {
  max-width: 1300px;
  margin: auto;
}

.btn {
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 50px;
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
}


.header-intro {
  background: url(../img/intro.png), lightgray 50% / cover no-repeat;
  min-height: 960px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  height: 120px;
}

.nav__list {
  list-style: none;
  width: 745px;
  display: flex;
  justify-content: space-between;
}

.nav__item {
  text-align: center;
  line-height: 150%;
  cursor: pointer;
  transition: opacity ease-out .3s;
}

.nav__item:hover {
  opacity: .4;
}

.header__btn {
  position: relative;
  background: linear-gradient(142deg, #C89AFC 0%, #7C6AFA 100%);
}

.header__btn::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #121212;
  opacity: 0;
  transition: opacity ease-out 0.3s;
}

.header__btn:hover::after {
  opacity: .3;
}

.intro {
  margin-bottom: 218px;
}

.intro__title {
  display: flex;
  width: 920px;
  flex-direction: column;
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 64px;
  font-weight: 700;
  line-height: 140%;
}

.intro__counter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.counter__item {
  display: inline-flex;
  padding: 20px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #121212;
}

.counter__quantity {
  font-size: 36px;
  font-weight: 700;
  line-height: 140%;
}

.counter__text {
  text-align: center;
  font-weight: 400;
  line-height: 140%;
  opacity: .4;
}


.achievements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 81px;
  height: 130px;
  background: #121212;
}

.achievements__list-indicator {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 81px;
}

.achievements__btn {
  position: relative;
  background: linear-gradient(141deg, #DF5950 0%, #451046 100%);
  font-weight: 700;
}

.achievements__btn::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #121212;
  opacity: 0;
  transition: opacity ease-out 0.3s;
}

.achievements__btn:hover::after {
  opacity: .3;
}

.achievements__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.achievements__item {
  line-height: 150%;
  display: flex;
  justify-content: space-between;
  width: 251px;
}

.achievements__item:not(:last-child) {
  margin-bottom: 10px;
}

.item__text {
  font-weight: 400;
  opacity: .4;
}

.item__quantity {
  font-weight: 700;
}

.achievements__item--indicator {
  line-height: 150%;
  display: flex;
  justify-content: space-between;
  width: 279px;
  margin-bottom: 7px;
}

.indicator__line {
  position: relative;
  height: 6px;
  width: 714px;
  background: white;
  margin-bottom: 5px;
}

.indicator__line::after {
  content: '';
  position: absolute;
  inset: 0;
  width: 40%;
  background: linear-gradient(141deg, #DF5950 0%, #451046 100%);
}

.indicator__quantity-block {
  display: flex;
  justify-content: space-between;
}

.indicator__quantity {
  line-height: 150%;
  opacity: .4;
}


.about {
  margin: 200px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 134px;
}

.text-block__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 45px;
}

.text-block__text {
  width: 636px;
  line-height: 160%;
}